doctype html
html
  head
    title= typeof title == 'undefined' ? 'New Sails App' : title
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    // STYLES
    link(rel="stylesheet", href="/styles/importer.css")
    // STYLES END
  body
    block body
    // SCRIPTS
    script(src="/js/dependencies/sails.io.js")
    // SCRIPTS END
